# Ignore the build directory and Angle libs, don't want to commmit it
winbuild/
raspibuild/
RasPi_CMake/build/
src/lib_ogl_win/libEGL.dll.lib
src/lib_ogl_win/libGLESv2.dll.lib
src/lib_ogl_raspi/libEGL.dll.lib
src/lib_ogl_raspi/libGLESv2.dll.lib
*.pdb