# Ignore the build directory and Angle libs, don't want to commmit it
build/
CMake/build/
CMake/_codeql_build_dir/
CMake/CMake
CMake/CMakeFiles/
src/lib_ogl_win/libEGL.dll.lib
src/lib_ogl_win/libGLESv2.dll.lib
src/lib_ogl_raspi/libEGL.dll.lib
src/lib_ogl_raspi/libGLESv2.dll.lib
*.pdb
*.o